<div class="layer-container">

	<!-- BEGIN MENU LAYER -->
	<div>
		<ul class="menu-layer">
			<li>
				<!--<a href="javascript:;">Popular Posts</a>-->
				<ul class="child-menu">
					<li><a th:href="@{#}">Today</a></li>
					<li><a th:href="@{#}">3 days ago</a></li>
					<li><a th:href="@{#}">7 days ago</a></li>
				</ul>
			</li>
			<!--<li>-->
				<!--<a href="javascript:;">Popular Shares</a>-->
				<!--<ul class="child-menu">-->
					<!--<li><a th:href="@{#}">Today</a></li>-->
					<!--<li><a th:href="@{#}">3 days ago</a></li>-->
					<!--<li><a th:href="@{#}">7 days ago</a></li>-->
				<!--</ul>-->
			<!--</li>-->
		</ul>
	</div><!--.menu-layer-->
	<!-- END OF MENU LAYER -->
	
</div><!--.layer-container-->