<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="CAMBOPEN">
    <meta name="author" content="CAMBOPEN">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-touch-fullscreen" content="yes">
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">CAMBOPEN</title>
    <link th:replace="fragments/style"/>

</head>
<body>
<div class="wrapper">

    <div layout:fragment="content"></div>

    <div th:replace="fragments/sidebar"></div>

    <div th:replace="fragments/footer"></div>
</div>

<div th:replace="fragments/js"></div>

<th:block layout:fragment="javascript">

</th:block>
</body>
</html>